.siteHeader {
  width: 100%;
  position: absolute;
  padding: 5px 20px 0px;
  height: auto;
  top: 0;
  border-bottom: 0.5px solid rgba($color: #000000, $alpha: 0.2);
  display: flex;
  justify-content: space-between;
  align-items: center;
  .logo {
    max-width: 160px;
    max-height: 190px;

    img {
      width: 80px;
      height: 90px;
    }
  }

  .menuBurger {
    visibility: visible;
    @media (min-width: 992px) {
      visibility: hidden;
    }
    z-index: 3;
    cursor: pointer;
  }
}
