.navlist {
  @media (max-width: 991px) {
    display: none;
  }
  display: flex;
  width: 40%;
  padding: 0px 25px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  &.active {
    display: flex;
    flex-direction: column;
    position: fixed;
    padding-top: 100px;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: #ece0d1;
  }

  .navItem {
    font-size: 16px;
    text-transform: capitalize;
    font-weight: 600;
    transition: 0.3s;
    cursor: pointer;
    &:hover {
      transform: scale(1.3);
    }
  }
}
